#login-pop-up {
    opacity: 0;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#login-pop-up.activated {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transform: scale(1);
}


.activated {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

#pop-up-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 756.78px;
    height: 684px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background);
    border: 2px solid var(--detail-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#pop-up-content header {
    display: flex;
    position: relative;
    padding: 0px 237px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: var(--secondary-color-light);
}

#pop-up-content header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pop-up-content h1 {
    display: flex;
    padding: 9.5px;
    justify-content: center;
    align-items: center;
    color: var(--base-color);
    text-shadow: 1px 2px 0px var(--detail-color);
    font: 400 58px/normal 'Bangers';
}

#pop-up-content h1 span {
    color: var(--tertiary-color);
    font: 400 58px/normal 'Bangers';
}

#pop-up-content h2 {
    display: flex;
    height: 38px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: var(--base-color);
    text-shadow: 1px 2px 0px var(--detail-color);
    font: 400 20px/normal 'Bangers';
}

#close-pop-up {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 38px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: var(--base-color);
    text-shadow: 1px 2px 0px var(--detail-color);
    font: 400 28px/normal 'Bangers';
    cursor: pointer;
}

#close-pop-up:hover {
    color: var(--tertiary-color);
    transition: 0.7s;
}

#pop-up-content main {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

#pop-up-content section {
    width: 376.4px;
    height: 542px;
    background: var(--background);
}

#sign-buttons {
    display: flex;
    margin: auto;
    margin-bottom: 17.88px;
    margin-top: 25.62px;
    width: 321px;
    height: 32.52px;
    border-radius: 6px;
    background: var(--base-color);
}

#sign-buttons button {
    transition: all 0.3s ease; /* Suaviza todas as mudanças de estilo */
}

#sign-in {
    display: flex;
    width: 159px;
    height: 32.52px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: var(--detail-color);
    font: 400 20px/normal 'Bangers';
    cursor: pointer;
}

#sign-in.active-button {
    margin-top: 2.96px;
    margin-left: 2.96px;
    background: var(--background);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease; /* Adiciona transição suave */
}

#sign-up {
    display: flex;
    width: 159px;
    height: 32.52px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: var(--detail-color);
    font: 400 20px/normal 'Bangers';
    cursor: pointer;
}

#sign-up.active-button {
    margin-top: 2.96px;
    margin-right: 2.96px;
    background: var(--background);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease; /* Adiciona transição suave */
}

#sign-buttons button:hover { /* Aumenta ligeiramente o botão ao passar o mouse */
    transition: transform 0.3s ease; /* Suaviza a transformação e a sombra */
}

#name-field {
    margin: auto;
    width: 318px;
    height: 72.924px;
}

#name-field label {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: var(--primary-color-dark);
    font: 400 20px/normal 'Bangers';
}

#name {
    width: 318px;
    height: 32.52px;
    padding: 4px;
    border-radius: 4px;
    border: 2px solid var(--detail-color);
    color: var(--primary-color-dark);
    background: var(--base-color);
}

#password-field {
    margin: auto;
    margin-top: 11.83px;
    width: 318px;
    height: 72.924px;
}

#password-field label {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: var(--primary-color-dark);
    font: 400 20px/normal 'Bangers';
}

#password {
    width: 318px;
    height: 32.52px;
    padding: 4px;
    border-radius: 4px;
    border: 2px solid var(--detail-color);
    color: var(--primary-color-dark);
    background: var(--base-color);
}

#check-password-field {
    display: none;
    margin: auto;
    margin-top: 11.83px;
    width: 318px;
    height: 72.924px;
}

#check-password-field label {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: var(--primary-color-dark);
    font: 400 20px/normal 'Bangers';
}

#check-password {
    width: 318px;
    height: 32.52px;
    padding: 4px;
    border-radius: 4px;
    border: 2px solid var(--detail-color);
    color: var(--primary-color-dark);
    background: var(--base-color);
}

#pop-up-content form button {
    margin-top: 40.4px;
    cursor: pointer;
}

#pop-up-content aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25.62px;
    padding-left: 9.5px;
    padding-right: 9.5px;
    width: 376.4px;
    height: 542px;
    background: var(--primary-color-light);
}

#circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 154px;
    height: 154px;
    background: var(--secondary-color-light);
    border-radius: 50%;
    border: 2px var(--detail-color) solid
}

#circle span {
    color: var(--base-color);
    text-shadow: 1px 2px 0px var(--detail-color);
    font:400 20px/normal 'Bangers';
}

#pop-up-content h3 {
    margin-top: 32.3px;
    margin-bottom: 20.21px;
    color: var(--tertiary-color);
    text-shadow: 1px 2px 0px var(--detail-color);
    font: 400 28px/normal 'Bangers';
}

#pop-up-content aside p {
    margin-bottom: 18.08px;
    color: var(--base-color);
    text-align: center;
    font: 500 18px/normal 'Inter';
}

#pop-up-content ul {
    display: block;
    margin-bottom: 18.08px;
    height: 106.429px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

#pop-up-content li {
    color: var(--base-color);
    font: 500 18px/normal 'Inter';
}

#pop-up-content li::before {
    content: "\2714";
    color: #00b400;
    font-weight: bold;
}

#pop-up-content a {
    display: flex;
    width: 230px;
    height: 47.302px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    border: 3px solid var(--detail-color);
    background: var(--base-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--detail-color);
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    font: 400 20px/normal 'Bangers';
}

#pop-up-content footer {
    display: flex;
    height: 27px;
    padding: 0px 159px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: var(--primary-color-light);
}

#pop-up-content footer p {
    color: var(--base-color);
    text-shadow: 1px 2px 0px var(--detail-color);
    font: 400 20px/normal 'Bangers';
}
