nav {
    background-color: var(--primary-color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
}

nav h1 {
    margin-left: 15px;
    color: var(--base-color);
    font: 400 42px/normal 'Bangers';
    text-shadow: 1px 2px 0px black;
}

.logo {
    font-family: 'Bangers';
    color: var(--tertiary-color);
}

nav button {
    font: 400 28px/normal 'Bangers';
    color: var(--base-color);
    text-shadow: 1px 2px 0px black;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

nav button:hover {
    background-color: var(--secondary-color-dark);
    transition: 0.4s;
    border-color: var(--tertiary-color);
    color: var(--tertiary-color);
}

i {
    color: white;
    text-shadow: 1px 2px 0px black;
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
}

i:hover {
    transition: 0.4s;
    color: var(--tertiary-color);
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: var(--primary-color-dark);
    padding: 20px;
    position: relative;
    height: 300px;
}

.boom {
    font: 400 42px/normal 'Bangers';
    color: var(--tertiary-color);
    text-shadow: 1px 2px 0px black;
    position: absolute;
    top: 20px;
    left: 30px;
}

.wow {
    font: 400 42px/normal 'Bangers';
    color: var(--base-color);
    text-shadow: 1px 2px 0px black;
    position: absolute;
    bottom: 20px;
    right: 30px;
}

#principal {
    font: 400 58px/normal 'Bangers';
    margin-top: 50px;
}

.p1 {
    color: var(--base-color);
    text-shadow: 1px 2px 0px black;
    text-align: center;
}

.p2 {
    color: var(--tertiary-color);
    text-shadow: 1px 2px 0px black;
    text-align: center;
}

.s-principal {
    font: 400 25px/normal 'Bangers';
    color: var(--base-color);
    text-shadow: 1px 2px 0px black;
    text-align: center;
    margin-top: 5px;
}