@charset "UTF-8"; /* Permite que o site use caracteres do nosso teclado brasileiro */

:root { /* Variável CSS. Caso seja alterada, todos os elementos com esses valores são alterados */
    --base-color: #FFFFFF;
    --detail-color: #000000;
    --primary-color-light: #023469;
    --primary-color-dark: #001945;
    --secondary-color-light: #8A0000;
    --secondary-color-dark: #7D0302;
    --tertiary-color: #F1B40E;
    --background: #F2E7D5;
}
/* Fontes */
@font-face {
    font-family: 'Bangers';
    src: url('../font/Bangers/Bangers-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter/static/Inter_18pt-Medium.ttf');
}

* { /* Estilos gerais */
    margin: 0;
    padding: 0;
    background: none;
    box-sizing: border-box;
    list-style: none; 
    text-decoration: none;
    font: normal 1em sans-serif;
    color: inherit;
    border: none;
    line-height: 1.5;
}
