body{
    background-color: var(--background);  
}

.subcabecalho{
    display: flex;
    background-color: var(--primary-color-dark);
    justify-content: space-between;
    height: auto;
    border-top: 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.subcabecalho h2, h3 {
    color: white;
    font: 400 42px/normal 'Bangers';
    background-color: var(--primary-color-dark); 
    text-align: center;
    text-shadow: 1px 2px 0px black;
    margin-left: 25px; 
}

.subcabecalho h3{
    font-size: 28px;
}

.Zap{
    background-color: var(--primary-color-dark);
    padding-right: 25px;
    text-shadow: 1px 0.5px 0px black;
    transition: 0.3s;
    padding-top: 5px;
    margin-right: 8px;
}

.Zap:hover{
    transform: scale(1.1);
}

.Zap p{
    font: 400 28px/normal 'Bangers';
    color: var(--tertiary-color);
    font-size: 42px;
    height: 45px;
    padding-top: 8px;
    text-shadow: 1px 0.5px 0px black;
    transition: 0.3s;
}

.Zap p:hover{
    transform: rotate(5deg);
    font-weight: bold;
    justify-content: space-between;
}

.destaque {
    color: var(--tertiary-color);
}

.cabecalho-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.vazio{
    font: 400 58px/normal 'Bangers';
    color:var(--secondary-color-dark);
    text-shadow: 1px 0.5px 0px black;
    margin: 10px;
} 

.box-vazio{
    width: 380px;
    height: 450px;
    margin-left: 40px;
    margin-bottom: 20px;
    border: 1px solid black;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.43);
}

.area-bege{
display: flex;
justify-content: center;

}

.area-bege {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background-color: #F2E7D5;
  height: 400px;
}

.controle-heroi {
  background-color: var(--background);
  padding: 50px;
  display: flex;
  justify-content: space-evenly;

}

.controle-esquerda {
  flex: 1;
  min-width: 300px;
}

.controle-esquerda h2 {
  font-family: 'Bangers';
  font-size: 24px;
  color: var(--primary-color-dark);
}

.controle-esquerda .destaque {
  color: var(--tertiary-color);
}

.title-box {
    background-color: var(--base-color);
    border: 3px solid var(--detail-color);
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    margin-bottom: 12px; 
}

.title-box h1 {
    font-family: 'Bangers';
    font-size: 1.8rem;
    font-weight: 400;
    
}


.product-card {
  width: 800px; 
  height: 110px; 
  background-color: var(--base-color);
  border: 3px solid var(--detail-color);
  margin: 10px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-image {
    width: 80px;
    height: 80px;
    border: 2px solid var(--detail-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image span {
    font-family: 'Bangers';
    font-size: 1.5rem;
    transform: rotate(-15deg); 
}

.product-title {
    color: var(--secondary-color-light);
    font-weight: 700;
    font-size: 1.1rem;
    font-family: 'Bangers';
    text text-shadow: ;
}

.product-subtitle {
    font-size: 0.9rem;
}

.product-price {
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 5px;
}

.product-details {
flex-grow: 1;
}

.product-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-control {
    display: flex;
}

.quantity-btn, .quantity-display {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-dark);
    color: var(--base-color);
    font-size: 1rem;
    font-weight: bold;
    border: none;
}

.delete-btn {
    width: 35px;
    height: 35px;
    color: var(--base-color);
    border-radius: 5px;
    border: none;
    font-size: 1.5rem; 
    cursor: pointer;
}


.resumo-missao {
  flex: 0 0 300px;
  background-color: var(--base-color);
  border: 2px solid var(--primary-color-dark);
  padding: 20px;
  font-family: 'Bangers';
}


.resumo-missao h1 {
  font-family: 'Bangers';
  font-size: 100px;
  text-align: center;
  font-size: 30px;
  color: white;           
  background-color:#7D0302;
  padding: 10px;           
}

.resumo-missao ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.resumo-missao li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.linha-suave {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1); 
  margin: 20px 0;
}

.resumo-missao .total {
  font-weight: bold;
}

.codigo-desconto {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.codigo-desconto input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
}

.codigo-desconto button {
  background-color: var(--primary-color-dark);
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.completar-missao {
  background-color: var(--tertiary-color);
  padding: 10px;
  font-family: 'Bangers';
  font-size: 16px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.resumo-missao a {
  text-align: center;
  display: block;
  font-size: 14px;
}

.sublinhado {
  text-decoration: underline;
  font-family: 'Bangers';

}

.continuar-com-memes{
    color: #023469;
    padding: 10px;
    font-family: 'Bangers';
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;

}


