.home-page {
    background: var(--background);
    padding: 50px;
}

.weekly-highlights h1 {
    color: var(--secondary-dark);
    font: 400 48px/normal 'Bangers';
    text-shadow: 2px 4px 0px var(--detail);
    margin-bottom: 15px;
}

.weekly-highlights hr {
    background-color: var(--primary-dark);
    height: 4px;
}


.card-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card {
    background-color: var(--base);
    border: 2px solid var(--detail);
    display: flex;
    flex: 1 1 350px;
    max-width: 450px;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: 0.5s;
    transform: rotate(-0.8deg);
}

@media (hover: hover) and (pointer: fine) {
    .card:hover {
        transform: translateY(-20px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    }
}

.card-header {
    padding: 10px;
    text-align: left;
    font: 400 22px/normal 'Bangers';
    color: var(--base);
    text-shadow: 2px 4px 0px var(--detail);
    letter-spacing: 2px;
    border-bottom: 2px solid var(--detail);
}

.card-header.red {
    background-color: var(--secondary-light);
}

.card-header.blue {
    background-color: var(--primary-light);
}

.card-image {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.171);
    height: 284px;
}

.card-content {
    max-width: 533px;
    padding: 0px 20px 20px 20px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 0.9em;
}

.card-price {
    font-family: 'Bangers';
    color: var(--secondary-dark);
    font: 400 22px/normal 'Bangers';
    text-shadow: 1px 2px 0px var(--detail);
    margin-bottom: 15px;
}

.card-price p {
    font: 400 42px/normal 'Bangers';
    padding-left: 50px;
    margin-bottom: 15px;
}

.card-button {
    background-color: var(--tertiary);
    color: var(--primary-light);
    text-align: center;
    padding: 12px;
    border: 2px solid var(--detail);
    cursor: pointer;
    text-decoration: none;
    font: 400 30px/normal 'Bangers';
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    margin-top: auto;
}

.card-button:hover {
    background-color: var(--primary-dark);
    color: var(--tertiary);
    transition: 0.3s;
}

.badge {
    position: absolute;
    top: -30px;
    right: -30px;
    color: var(--base);
    font-weight: bold;
    font: 400 20px/normal 'Bangers';
    text-shadow: 1px 3px 0px var(--detail);
    -webkit-text-stroke: 0.5px var(--detail);
    padding: 35px 8px;
    border-radius: 50%;
    border: 2px solid var(--detail);
    transform: rotate(15deg);
}

.badge.yellow {
    background-color: var(--tertiary);
}

.badge.red {
    background-color: var(--secondary-dark);
    padding: 25px 20px;
}

.badge.blue {
    background-color: var(--primary-dark);
    text-align: center;
    padding: 25px 15px;
}

.cta-banner {
    margin-top: 25px;
    position: relative;
    background-color: var(--primary-light);
    height: 300px;
    padding: 50px 30px 30px 30px
}

.cta-banner__kapow-text {
    color: var(--tertiary);
    font: 400 70px/normal 'Bangers';
    text-shadow: 1px 3px 0px var(--detail);
    position: absolute;
    top: -45px;
    left: -30px;
}

.cta-banner__content {
    text-align: center;
    color: var(--base);
    font: 400 25px/normal 'Bangers';
    text-shadow: 2px 3px 0px var(--detail);
    letter-spacing: 1.5px;
}

.cta-banner__content span {
    color: var(--tertiary);
}

.cta-banner__content p {
    font-family: 'Inter';
    letter-spacing: 0px;
}

.cta-banner__content img {
    margin-top: 25px;
}

@media (max-width: 1150px) {
    .cta-banner__kapow-text {
        font-size: 50px;
        top: -25px;
    }

    .cta-banner__content {
        font-size: 20px;
    }

    .cta-banner__content p {
        font-size: 16px;
    }

    .cta-banner__content img {
        width: 400px;
    }
}

@media (max-width: 900px) {
    .cta-banner__kapow-text {
        font-size: 40px;
        top: -25px;
    }

    .cta-banner__content {
        font-size: 15px;
    }

    .cta-banner__content p {
        font-size: 13px;
    }

    .cta-banner__content img {
        width: 350px;
    }
}

@media (max-width: 750px) {
    .cta-banner__kapow-text {
        font-size: 40px;
        top: -25px;
    }

    .cta-banner__content {
        font-size: 15px;
    }

    .cta-banner__content p {
        font-size: 12px;
    }

    .cta-banner__content img {
        width: 300px;
    }

    .card {
        transform: rotate(0);
    }
}

@media (max-width: 450px) {
    .cta-banner__kapow-text {
        font-size: 40px;
        top: -25px;
    }

    .card-header {
        font-size: 20px;
    }

    .cta-banner__content {
        font-size: 13px;
    }

    .cta-banner__content p {
        font-size: 12px;
    }

    .cta-banner__content img {
        width: 250px;
    }

    .badge.yellow,
    .badge.red,
    .badge.blue {
        top: -48px;
        right: -37px;
        font-size: 18px;
        border-width: 1px;
    }

    .badge.yellow {
        padding: 33px 6px;
    }

    .badge.red {
        padding: 20px 15px;
    }

    .badge.blue {
        padding: 20px 10px;
    }
}

@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
