section {
    background: linear-gradient(-45deg, var(--detail), var(--primary-dark), var(--primary-light), var(--primary-dark ), var(--secondary-dark));
    padding: 20px;
    min-height: 500px;
    position: relative;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    overflow: hidden;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title h1 {
    color: var(--base);
    font: 400 68px/normal 'Bangers';
    text-shadow: 2px 4px 0px var(--detail),
    0px 0px 80px var(--tertiary),
    0px 0px 80px var(--tertiary)
    ;
    
}

.title h2 {
    color: var(--tertiary);
    font: 400 38px/normal 'Bangers';
    text-shadow: 2px 4px 0px var(--detail);
    margin-top: 30px;
}

.title p {
    color: var(--base);
    font: 400 18px/normal 'Inter';
    width: 50%;
    margin-top: 10px;
}

#mystical {
    color: var(--tertiary);
    font: 400 42px/normal 'Bangers';
    text-shadow: 2px 4px 0px var(--detail);
    position: absolute;
    top: 5px;
    left: 20px;
}

#legendary {
    color: var(--base);
    font: 400 42px/normal 'Bangers';
    text-shadow: 2px 4px 0px var(--detail);
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.cards-container {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    gap: 0.5rem; 
    padding: 3rem 0;
}

.grimorio {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: fit-content;
    background-color: var(--base);
    border: 2px solid #ce0000;
    border-radius: 12px;
    padding: 1.25rem 2.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px #ff1111;
}

.grimorio h1 {
    color: #990000;
    font: 400 30px/normal 'Bangers';
}

.grimorio p {
    color: #990000;
    font: 400 18px/normal 'Inter';
    margin-top: 10px;
}

.misterios {
    margin-top: 20px;
    display: flex;
    width: 95%;
    max-width: 700px;
    background-color: var(--base);
    border: 2px solid var(--detail);
    border-radius: 15px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
}

.misterios h1 {
    color: var(--primary-dark);
    font: 400 20px/normal 'Bangers';
}

/*SEÇÃO DOS CARDS*/
.card-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card {
    background-color: var(--base);
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: 0.5s;
    width: 75%;
    max-width: 511px;
}

.card.yellow {
    box-shadow: 0px 0px 30px #ffff5a;
}

.card.purple {
    box-shadow: 0px 0px 30px #b46cff;
}

.card.blue {
    box-shadow: 0px 0px 30px #86ecfa;
}

.card:hover {
    transform: translateY(-20px);
}

.card-header {
    margin: 25px;
    padding: 10px;
    text-align: center;
    font: 400 22px/normal 'Bangers';
    color: var(--base);
    text-shadow: 2px 4px 0px var(--detail);
    letter-spacing: 2px;
    
}

.card-header.red {
    background: linear-gradient(to right, #ffff5a, #ffae00, #e68a00);
}

.card-header.purple {
    background: linear-gradient(to right, #b46cff, #7c1ab9, #70008f);
}

.card-header.blue {
    background: linear-gradient(to right, #86ecfa, #2962ff, #003185);
}

.card-image {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.171);
    height: 284px;
}

.card-content p {
    padding: 0px 20px 20px 20px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 0.9em;
}

.card-content h3 {
    color: var(--primary-dark);
    font: 400 28px/normal 'Bangers';
    text-align: center;
}

.card-price {
    font-family: 'Bangers';
    color: var(--secondary-dark);
    font: 400 22px/normal 'Bangers';
    text-shadow: 1px 2px 0px var(--detail);
    margin-bottom: 15px;
}

.card-price p {
    font: 400 42px/normal 'Bangers';
    padding-left: 50px;
    margin-bottom: 15px;
}

.card-button {
    background: linear-gradient(to right, #ff1111, #ce0000, #990000); /* Amarelo */
    color: var(--base);
    text-align: center;
    padding: 12px;
    border: 2px solid #000;
    cursor: pointer;
    text-decoration: none;
    font: 400 30px/normal 'Bangers';
    margin-left: 50px;
    margin-right: 50px;
    display: block; /* Faz o botão ocupar a largura total */
    margin-top: auto; /* Empurra o botão para baixo quando há espaço extra */
}

.card-button:hover {
    border-color: var(--tertiary);
    color: var(--tertiary);
    transition: 0.3s;
}

.badge {
    position: absolute;
    top: -30px;
    right: -30px; /* Ajuste para sobrepor a borda */
    color: var(--base);
    font-weight: bold;
    font: 400 20px/normal 'Bangers';
    text-shadow: 1px 3px 0px var(--detail);
    -webkit-text-stroke: 0.5px var(--detail);
    padding: 35px 8px; /* Padding aumentado para forma mais oval */
    border-radius: 50%; /* Faz o badge circular/oval */
    border: 2px solid #000;
    transform: rotate(15deg); /* Rotação do badge */
}

.badge.yellow {
    background-color: var(--tertiary); /* Amarelo dourado */
}

.badge.red {
    background-color: var(--secondary-dark);
    padding: 25px 20px;
}

.badge.blue {
    background-color: var(--primary-dark);
    text-align: center;
    padding: 25px 15px;
}

@media(max-width: 450px) {
    .title h1 {
    font-size: 58px;
    }

    #mystical {
        font-size: 22px;
    }

    #legendary {
        font-size: 22px;
    }
}