.rarity-hero {
    background: linear-gradient(-45deg, var(--detail), var(--primary-dark), var(--primary-light), var(--primary-dark), var(--secondary-dark));
    padding: 20px;
    min-height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.rarity-hero__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.rarity-hero__content h1 {
    color: var(--base);
    font: 400 68px/normal 'Bangers';
    text-shadow: 2px 4px 0px var(--detail),
        0px 0px 80px var(--tertiary),
        0px 0px 80px var(--tertiary);
}

.rarity-hero__content h2 {
    color: var(--tertiary);
    font: 400 38px/normal 'Bangers';
    text-shadow: 2px 4px 0px var(--detail);
    margin-top: 30px;
}

.rarity-hero__content p {
    color: var(--base);
    font: 400 18px/normal 'Inter';
    width: 50%;
    margin-top: 10px;
}

.rarity-hero__decorative-text {
    position: absolute;
    font: 400 42px/normal 'Bangers';
    text-shadow: 2px 4px 0px var(--detail);
}

.rarity-hero__decorative-text.mystical {
    color: var(--tertiary);
    top: 5px;
    left: 20px;
}

.rarity-hero__decorative-text.legendary {
    color: var(--base);
    bottom: 5px;
    right: 20px;
}

.rarity-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 3rem 1rem;
}

.rarity-info__grimoire {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: fit-content;
    background-color: var(--base);
    border: 2px solid var(--rarity-red-medium);
    border-radius: 12px;
    padding: 1.25rem 2.5rem;
    text-align: center;
    box-shadow: 0 0 20px var(--rarity-red-bright);
}

.rarity-info__grimoire h2 {
    color: var(--rarity-red-dark);
    font: 400 30px/normal 'Bangers';
}

.rarity-info__grimoire p {
    color: var(--rarity-red-dark);
    font: 400 18px/normal 'Inter';
    margin-top: 10px;
}

.rarity-info__mystery-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 700px;
    background-color: var(--base);
    border: 2px solid var(--detail);
    border-radius: 15px;
    padding: 7px;
    text-align: center;
}

.rarity-info__mystery-prompt h2 {
    color: var(--primary-dark);
    font: 400 20px/normal 'Bangers';
}

.card-gallery {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 1rem 3rem 1rem;
}

.card {
    background-color: var(--base);
    border: 2px solid var(--detail);
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.5s;
    width: 95%;
    max-width: 511px;
}

.card.legendary-glow {
    box-shadow: 0px 0px 30px var(--rarity-legendary-glow);
}

.card.epic-glow {
    box-shadow: 0px 0px 30px var(--rarity-epic-glow);
}

.card.rare-glow {
    box-shadow: 0px 0px 30px var(--rarity-rare-glow);
}

.card-header {
    margin: 25px;
    padding: 10px;
    text-align: center;
    font: 400 22px/normal 'Bangers';
    color: var(--base);
    text-shadow: 2px 4px 0px var(--detail);
    letter-spacing: 2px;
}

.card-header.legendary-bg {
    background: linear-gradient(to right, var(--rarity-legendary-glow), var(--rarity-legendary-medium), var(--rarity-legendary-dark));
}

.card-header.epic-bg {
    background: linear-gradient(to right, var(--rarity-epic-glow), var(--rarity-epic-medium), var(--rarity-epic-dark));
}

.card-header.rare-bg {
    background: linear-gradient(to right, var(--rarity-rare-glow), var(--rarity-rare-medium), var(--rarity-rare-dark));
}

.card-image {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.171);
    height: 284px;
}

.card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}

.card-content h3 {
    color: var(--primary-dark);
    font: 400 28px/normal 'Bangers';
}

.card-content p {
    padding: 1rem 1.25rem 1.25rem;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 0.9em;
    flex-grow: 1;
}

.card-price {
    font-family: 'Bangers';
    color: var(--secondary-dark);
    font: 400 22px/normal 'Bangers';
    text-shadow: 1px 2px 0px var(--detail);
    margin-bottom: 15px;
}

.card-price p {
    font: 400 42px/normal 'Bangers';
    padding-left: 50px;
    margin-bottom: 15px;
}

.card-button {
    background: linear-gradient(to right, var(--rarity-red-bright), var(--rarity-red-medium), var(--rarity-red-dark));
    color: var(--base);
    text-align: center;
    padding: 12px;
    border: 2px solid var(--detail);
    cursor: pointer;
    text-decoration: none;
    font: 400 30px/normal 'Bangers';
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    margin-top: auto;
}

@media (hover: hover) {
    .card {
        transform: rotate(-0.8deg);
    }

    .card:hover {
        transform: translateY(-20px);
    }

    .card-button:hover {
        border-color: var(--tertiary);
        color: var(--tertiary);
        transition: 0.3s;
    }
}

@media(max-width: 450px) {
    .rarity-hero__content h1 {
        font-size: 58px;
    }

    .rarity-hero__decorative-text.mystical,
    .rarity-hero__decorative-text.legendary {
        font-size: 22px;
    }
}

@keyframes fadeInOnly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.delay-1 {
  animation: fadeInOnly 0.5s ease-out forwards;
  animation-delay: 0.2s;
  opacity: 0;
}

.delay-2 {
  animation: fadeInOnly 0.5s ease-out forwards;
  animation-delay: 0.4s;
  opacity: 0;
}

.delay-3 {
  animation: fadeInOnly 0.5s ease-out forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

.delay-4 {
  animation: fadeInOnly 0.5s ease-out forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

.delay-5 {
  animation: fadeInOnly 0.5s ease-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

.delay-6 {
  animation: fadeInOnly 0.5s ease-out forwards;
  animation-delay: 1.2s;
  opacity: 0;
}


