@charset "UTF-8";

:root {
    --base: #FFFFFF;
    --detail: #000000;
    --background: #F2E7D5;

    --primary-light: #023469;
    --primary-dark: #001945;
    --secondary-light: #8A0000;
    --secondary-dark: #7D0302;
    --tertiary: #F1B40E;
    --tertiary-light: #FDE047;
    --special: #16A34A;

    --rarity-red-dark: #990000;
    --rarity-red-medium: #ce0000;
    --rarity-red-bright: #ff1111;
    --rarity-legendary-glow: #ffff5a;
    --rarity-legendary-medium: #ffae00;
    --rarity-legendary-dark: #e68a00;
    --rarity-epic-glow: #b46cff;
    --rarity-epic-medium: #7c1ab9;
    --rarity-epic-dark: #70008f;
    --rarity-rare-glow: #86ecfa;
    --rarity-rare-medium: #2962ff;
    --rarity-rare-dark: #003185;

    --base-light-gray: #eeeeee;
    --shadow-color-subtle: rgba(0, 0, 0, 0.171);
    --shadow-color-strong: rgba(0, 0, 0, 0.43);
}

@font-face {
    font-family: 'Bangers';
    src: url('../font/Bangers/Bangers-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter/static/Inter_18pt-Medium.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.body-no-scroll {
    overflow: hidden;
}
